body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden; /* Убираем прокрутку */
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Устанавливаем изображение на всю ширину окна */
    height: 100vh; /* Устанавливаем изображение на всю высоту окна */
    object-fit: cover; /* Обрезаем изображение, чтобы оно заполнило весь экран */
    opacity: 0;
    transition: transform 0.5s ease;
    transform: scale(0.1); /* Уменьшаем изображение в начале */
    animation: blink 1s infinite; /* Добавляем анимацию мигания */
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 0; /* Полностью прозрачное изображение */
    }
    25%, 75% {
        opacity: 1; /* Полностью видимое изображение */
    }
}
